<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>PDF Summarizer — Fast & Humanized</title>
    <style>
        iframe {
            border: none;
            /* Removes default border */
            outline: none;
            /* Removes focus outline */
            display: block;
            /* Prevents small spacing below iframe */
        }

        body {
            background: transparent;
        }
    </style>
</head>

<body>
    <!-- Add this somewhere in your React page -->
    <iframe src="http://127.0.0.1:8000" style="width:100%; height:100vh; border:none; margin: 0%; padding: 0%;"
        title="Draft idea">
    </iframe>

</body>

</html>